body{
  background-color: #DB2777;
  color: white;
  text-align: center;
}
.container{
  padding:10px;
  margin:100px;
}
strong{
  border: 1px solid white;
  padding:10px;
  margin:2rem;
}

/* flex-direction */
.row{
  display: flex;
  flex-direction: row;
}

.row-reverse{
  display: flex;
  flex-direction: row-reverse;
}
.column{
  display: flex;
  flex-direction: column;
  height: 700px;
}
.column-reverse{
  display: flex;
  flex-direction: column-reverse;
}

/* justify-content */
.flex-start{
  display: flex;
  justify-content: flex-start;
}

.flex-end{
  display: flex;
  justify-content: flex-end;
}
.center{
  display: flex;
  justify-content:center;
}
.space-around{
  display: flex;
  justify-content:space-around;
}
.space-evenly{
  display: flex;
  justify-content:space-evenly;
}
.space-between{
  display: flex;
  justify-content:space-between;
}
.initial{
  display: flex;
  justify-content:initial;
}

.each{
  border:1px solid white;
  padding:2rem;
  margin:1rem;
  margin-bottom:2rem;
 
}
.heading{
  text-align: center;
  font-size: large;
}
p{
  padding:2rem;
  margin:0.2rem;
  border:2px solid white;
  background-color: #9D174D;
}
p:hover{
  opacity: 0.7;
}