body{
  background-color: #DB2777;
  color: white;
  text-align: center;
}
.container{
  padding:10px;
  margin:100px;
  border:1px solid white;
  display: flex;
}
.container p{
  padding:1rem;
}
strong{
  border: 1px solid white;
  padding:10px;
  margin:2rem;
}
.each{
  border:1px solid white;
  padding:1rem;
  margin:1rem;
  margin-bottom:2rem;
 
}
.heading{
  text-align: center;
  font-size: large;
}
p{
  padding:3rem;
  margin:0.5rem;
  border:2px solid white;
  background-color: #9D174D;
}
p:hover{
  opacity: 0.7;
}

/* flex-direction */
.row{
  display: flex;
  flex-direction: row;
}

.row-reverse{
  display: flex;
  flex-direction: row-reverse;
}
.column{
  display: flex;
  flex-direction: column;
  height: 700px;
}
.column-reverse{
  display: flex;
  flex-direction: column-reverse;
  height: 700px;
}

/* justify-content */
.flex-start{
  display: flex;
  justify-content: flex-start;
 
}

.flex-end{
  display: flex;
  justify-content: flex-end;
 
}
.center{
  display: flex;
  justify-content:center;
}
.space-around{
  display: flex;
  justify-content:space-around;
}
.space-evenly{
  display: flex;
  justify-content:space-evenly;
}
.space-between{
  display: flex;
  justify-content:space-between;
}
.initial{
  display: flex;
  justify-content:initial;
}

/*aling-items*/
.align-flex-start{
  display: flex;
  height:400px;
  align-items: flex-start;
  
}
.align-flex-end{
  display: flex;
  height:400px;
  align-items: flex-end;
}
.align-center{
  display: flex;
  height:300px;
  align-items: center;
}
.align-stretch{
  display: flex;
  height:300px;
  align-items: stretch;
}
.align-baseline{
  display: flex;
  height:300px;
  align-items: baseline;
}

/*flex-wrap*/
.nowrap{
  display: flex;
  flex-wrap: nowrap;
}
.wrap{
  display: flex;
  flex-wrap: wrap;
}
.wrap-reverse{
  display: flex;
  flex-wrap: wrap-reverse;
}

